[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypika = "*"
faker = "*"
translitua = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
ruff = "*"
black = "*"
isort = "*"
types-pyyaml = "*"

[requires]
python_version = "3.11"
